<div class="hero-unit row" style="background-color: #E0EAF4;">
    <div class="logo row">
        <a href="/">
          <h1 class="logo-title">who does not follow<span class="me">me</span>back</h1>
        </a>
        <div class="text-muted sub-title"><strong>...find out who doesn't follow you back @twitter!</strong></div>
    </div>
    <div class="intro row no-show-mobile">
      <ul>
        <li>1. Enter your username in the <a id="twboxlink" href="#">@twitter</a> box. </li>
        <li>2. Press enter.</li>
        <li>3. That's it! </li>
        <li class="last">It's free, no registration required and no surprise tweets!</li>
      </ul>
    </div>
    <div class="row searchbox">
      <% form_tag '/unfollowers', :id => 'form', :method => 'unfollowers' do %>
      <% end %>
              <div class="input-append">
          <input type="text" id="search-input" placeholder="@twitter" autofocus="autofocus" autocomplete="off" />
          <button id="search-button" class="btn" type="button">
              <i class="glyphicon glyphicon-eye-open"></i>
          </button>
        </div>
    </div>
    <div id="loading-bar" class="row push">
      <div class="col-md-5">
        &nbsp;
      </div>
      <div class="col-md-2">
        <div class="col-md-2"><hr/></div>
        <div class="col-md-1">
          <div class="separator icon-leaf">
            <i class="fa fa-twitter fa-2x"></i>
          </div>
          <div class="separator icon-refresh">
            <i class="fa fa-refresh fa-spin fa-2x"></i>
          </div>          
          </div>
        <div class="col-md-2"><hr/></div>
       </div>
      <div class="col-md-5">
        &nbsp;
      </div>
     </div>
     <div class="row flash-notice">
       <div class="col-md-12">
        <div id="err-modal" class="alert alert-danger col-md-6 col-md-offset-3">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span id="err-msg"></span>
        </div>
        <div id="info-modal" class="alert alert-info col-md-6 col-md-offset-3">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span id="info-msg"></span>
        </div>
       </div>
     </div>
     <div class="row unfollowed-title">
       <div class="col-md-6 col-md-offset-2">
        Recently Unfollowed
       </div>
     </div>
    <div class="row">
      <div id="results">
       <table id="tbl-results" class="center-table table table-bordered table-hover">
         <tbody>
         </tbody>
       </table>
      </div>
    </div>
</div>
  <div id="exact-match-label" class="type-label" >
  </div>
  <script type="text/javascript">
    var is_auth = <%= @is_auth %>;
    var recent_unfollowers = <%= @recent_unfollowers %>
  </script>
