<div class="hero-unit" style="background-color: #E0EAF4;">
    <div>
      <div class="visible-desktop visible-tablet addthis_toolbox addthis_floating_style addthis_32x32_style" style="left:50px;top:50px;">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515387e41325a358"></script>
    </div>
  
    <div class="logo row">
      <div id="push" ></div>
        <a href="/">
          <h1 class="logo-title">who does not follow<span class="me">me</span>back</h1>
        </a>
    </div>
    <div class="row searchbox">
      <% form_tag '/unfollowers', :id => 'form', :method => 'unfollowers' do %>
        <div class="input-append">
          <input type="text" id="search-input" placeholder="@twitter" autofocus="autofocus" autocomplete="off">
          <button id="search-button" class="btn" type="button">
              <i class="icon-eye-open icon-large"></i>
          </button>
        </div>
      <% end %>
    </div>
    <div id="loading-bar" class="row push">
      <div class="span6 center-table text-center">
        <div class="span2"><hr/></div>
        <div class="span1">
          <span class="icon-leaf separator"></span>
          <span class="icon-refresh icon-spin separator"></span>
          </div>
        <div class="span2"><hr/></div>
       </div>
     </div>
     <div class="row">
       <div class="span12">
        <div id="err-modal" class="alert alert-error span6 text-center center-table">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span id="err-msg"></span>
        </div>
        <div id="info-modal" class="alert alert-info span6 text-center center-table">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <span id="info-msg"></span>
        </div>
       </div>
     </div>
    <div class="row">
      <div id="results">
       <table id="tbl-results" class="center-table table table-bordered table-hover">
         <tbody>
         </tbody>
       </table>
      </div>
    </div>
</div>
<div class="intro row">
    <h1>Find who doesn't follow you back at Twitter!</h1>
    <ol>
      <li>1. Enter your username in the <a id="twboxlink" href="#">@twitter</a> box. </li>
      <li>2. Press enter.</li>
      <li>3. That's it! </li>
      <li class="last">It's free, no registration required and no surprise tweets!</li>
    </ol>
  </div>
  <div id="exact-match-label" class="type-label" >
  </div>
  <script type="text/javascript">
    var is_auth = <%= @is_auth %>;
  </script>
